@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  background: black;
  color: white;
}

#app {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.content {
  width: calc(100% - 30vh); /* subtract the width of the menu */
  margin-left: 30vh; /* add left margin equal to the width of the menu */
}

/**
MAIN MENU STYLING
**/

.main-menu {
  position: fixed;
  width: 30vh;
  min-width: 200px;
  min-height: calc(100vh - 1rem);
  background-color: rgb(0, 11, 58);
  padding-top: 1rem;
  border-right: rgb(5, 5, 5) 1px solid;
}

ul {
  margin: 0;
  padding: 0;
}

.menu-item {
  list-style: none;
  display: flex;
  align-items: center;
  height: 36px;
  border-bottom: solid 2px rgb(0, 5, 27);
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 100%;
}

.menu-item a:hover {
  background: black;
}

/**
DATABASE STYLING
**/

.database-wrapper{
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.pagination{
  display:flex;
  height: 4rem;
  align-items: center;
  padding: 1rem;
}

.pagination select {
  background: rgb(0, 11, 58);
  color: white;
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  height: 3rem;
}

.pagination button{
  background: rgb(0, 11, 58);
  color: white;
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  height: 3rem;
}

.pagination button:hover{
  background: rgb(22, 22, 22);
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination button:disabled:hover {
  background: rgb(0, 11, 58);
}




.card-details{
  display: flex;
  flex-direction: row;
  background: rgb(22, 22, 22);
  border-radius: 20px;
}

.card-image{
  max-height: 450px;
}

.card-info-row{
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  padding-left: 10px;
}

.card-info-row:first-child {
  margin-top: none;
}

.card-info-row span{
  padding-left: 5px;
  padding-right: 5px;
  max-width: 440px;
  /*min-width: 440px;*/
}

.card-info-row h2{
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 0;
}

.card-legality{
  text-transform: capitalize;
}

.keyword{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 8px;
}

.bg-blue{
  background: #308db9;
  color: white;
}


.bg-orange{
  background: #fd9f47;
  color: white;
}

.bg-pink{
  background: #ffaccf;
  color: black;
}

.bg-yellow{
  background: #f8e473;
  color: black;
}

.bg-black{
  background: black;
  color: white;
  border: white solid 2px;
}
